$main-text-color: #272343;
$secondary-text-color: #f1f6ff;
$color-bg: #f1f6ff;
$secondary-color-bg: #ef4665;
$main-size-text: 16px;
$size-text-title-mob: 20px;
$size-text-title-tablet: 40px;
$size-text-title-desc: 50px;
// $size-text-subtitle: 22px;
// $main-line-hight: 34px;
// $line-hight-title-mob: 40px;
// $line-hight-title-desc: 56px;
$main-text-family: 'Montserrat', sans-serif;
$main-text-weight: 400;
// $secondary-text-weight: 700;
$lg-screen: 1680px;
$notebook: 1200px;
$sm-notebook: 960px;
$tablet: 760px;
$horizontal-mb: 480px;
$vertical-mb: 320px;

